<server description="defaultServer">
    <featureManager>
        <feature>webProfile-10.0</feature>
    </featureManager>

    <basicRegistry id="defaultBasicRegistry" realm="BasicRealm">
        <user name="username" password="password" />
    </basicRegistry>

    <keyStore id="defaultKeyStore" password="password" />

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443" />

    <webApplication location="kawsayfit-web.war" contextRoot="/" />

    <logging consoleFormat="SIMPLE" consoleLogLevel="INFO" />
    <logging messageFormat="TBASIC" messageLogLevel="INFO" />
    <logging traceSpecification="JPA=all" />

    <!-- DataSource para KawsayFit -->
    <dataSource id="kawsayfitDS" jndiName="jdbc/kawsayfitDS">
        <jdbcDriver id="mysql-driver" libraryRef="MySqlJDBCLib" />
        <properties
                serverName="${db.server.name}"
                portNumber="${db.port.number}"
                databaseName="kawsayfit"
                user="kawsayfit_user"
                password="kawsayfit123"
                useSSL="false"
                serverTimezone="UTC"
                allowPublicKeyRetrieval="true" />
    </dataSource>

    <!-- Driver JDBC MySQL -->
    <library id="MySqlJDBCLib">
        <fileset dir="${driver.jdbc.dir}" includes="mysql-connector-j-*.jar" />
    </library>
</server>
