<server description="defaultServer">
    <featureManager>
        <feature>webProfile-10.0</feature>
    </featureManager>

    <basicRegistry id="defaultBasicRegistry" realm="BasicRealm">
        <user name="username" password="password" />
    </basicRegistry>

    <keyStore id="defaultKeyStore" password="password" />

    <httpEndpoint id="defaultHttpEndpoint" host="*" httpPort="9080" httpsPort="9443" />

    <webApplication location="kawsayfit-web.war" contextRoot="/" />

    <logging consoleFormat="SIMPLE" consoleLogLevel="INFO" />
    <logging messageFormat="TBASIC" messageLogLevel="INFO" />
    <!--logging traceFormat="ENHANCED" traceSpecification="*=all" /-->
    <logging traceSpecification="JPA=all" />

    <!--
    <jpa defaultPersistenceProvider="org.hibernate.jpa.HibernatePersistenceProvider">
        <defaultProperties>
            <property name="javax.persistence.lock.timeout" value="4000"/>
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQL9Dialect"/>
        </defaultProperties>
    </jpa>
    -->

    <!-- Configuración del datasource -->
    <dataSource id="kawsayfitDS" jndiName="jdbc/kawsayfitDS">
        <jdbcDriver id="mysql-driver" libraryRef="MySqlJDBCLib" />
        <properties
                serverName="${DB_SERVER_NAME}"
                portNumber="${DB_PORT_NUMBER}"
                databaseName="${DB_NAME}"
                user="${DB_USER}"
                password="${DB_PASSWORD}"
                useSSL="false"
                serverTimezone="UTC"
                allowPublicKeyRetrieval="true" />
        <!--
        <properties.postgresql
            serverName="${db.server.name}"
            portNumber="${db.port.number}"
            databaseName="jbrew"
            user="jbrewuser"
            password="jbrewUser2525"
        />
        -->
    </dataSource>

    <!-- Referencia al driver JDBC de MySQL -->
    <library id="MySqlJDBCLib">
        <fileset dir="${DRIVER_JDBC_DIR}" includes="mysql-connector-j-*.jar" />
    </library>
</server>
